<?xml version="1.0"?>
<model>
  <name>rblimp</name>
  <version>0.1</version>
  <sdf version='1.5'>rblimp.sdf</sdf>

  <author>
   <name>Jan Akhremchik</name>
   <email>jan.akhremchik@gmail.com</email>
  </author>

  <description>
    This is a ported model of a blimp by
    https://github.com/robot-perception-group
  </description>
</model>
